# Data visualization Project

## Part 3

In [2]:
#import the essential packages
import ipywidgets as widgets
import matplotlib.pyplot as plt
from ipywidgets import interact, interactive, HBox, VBox
import numpy as np
from bqplot import *
from bqplot import Tooltip, pyplot, marks
import pandas as pd
import us
from IPython.display import display

import traitlets

#little bit of magic!
%matplotlib inline

In [10]:
#import the csv file ufo-scrubbed-geocoded-time-standardized
names = ["date", "city", "state", "country", "shape", "duration_seconds", "duration_reported", "description", "report_date", "latitude", "longitude"]

ufo = pd.read_csv("ufo-scrubbed-geocoded-time-standardized.csv",
                  names = names, parse_dates = ["date", "report_date"])
#Map abbr to fips
abbr_to_fips = us.states.mapping('abbr', 'fips')

#create new column in ufo dataframe, with fips code!
ufo["fips"] = ufo["state"].apply(lambda a: int(abbr_to_fips.get(str(a).upper(), -1)))

#Total time found out by grouping by states(in the form of fips) so that value is for each state
total_time = ufo.groupby(["fips"])["duration_seconds"].sum()

#Total sightings found out by grouping by states(in the form of fips) so that value is for each state
total_sightings = ufo.groupby(["fips"])["report_date"].count()

In [11]:
#creating dataframe with columns total_sightings and total_time
df = pd.DataFrame([total_sightings, total_time])

#Transposing it
df = df.T

#Giving columns values
df.columns = ['total sightings', 'total time']

#removing first row
df = df[1:]

In [4]:
type(total_sightings)

pandas.core.series.Series

In [12]:
#Adding new column named year in the ufo dataframe object by parsing and finding year in ufo['date']
ufo['year'] = pd.DatetimeIndex(ufo['date']).year

In [79]:

def showPlot(change):
    global ch
    print(type(change['new']))


    if len(change.new) > 1:
        states_map.selected = [change.new[-1]]
    elif len(change.new) == 1:
        print("yay")
    
        ch = states_map.selected[-1:]
        ufo_state = ufo[ufo['fips'] == ch[0]]

        print(states_map.selected[-1:])
        scatter_plot = interact(getCorresPlot, year = widgets.IntRangeSlider(
                    value=[ufo_state['year'].max() - 50,ufo_state['year'].max()],
                    min=ufo_state['year'].min(),
                    max=ufo_state['year'].max(),
                    continuous_update=False,
                    step=10,
                ));
        


def getCorresPlot(year):   
    
    print(year[0])
    print(year[1])
    print(ch)
    ufo_state = ufo[ufo['fips'] == ch[0]]
    #ch[:] = []
    ufo_plot = ufo_state[ufo_state['year'] > year[0]]
    
    total_time_year = ufo_state.groupby(["year"])["duration_seconds"].sum() 
    total_sightings_year = ufo_state.groupby(["year"])["report_date"].count()
    
    sc_x = LinearScale()
    sc_y = LinearScale()
    scatter = Scatter(x=ufo_plot['year'].unique(), y=total_sightings_year, scales={'x': sc_x, 'y': sc_y}, colors=['blue'])

    ax_x = Axis(label='Year', scale=sc_x)
    ax_y = Axis(label='Test Y', scale=sc_y, orientation='vertical', tick_format='0.2f')

    fig = Figure(axes=[ax_x, ax_y], marks=[scatter])
    
    return fig
    

        

def getMap(mode):
    if mode == 'total sightings':
        def_tt = Tooltip(fields=['name', 'color'], labels = ['state', 'total_sightings_year'])
    else:
        def_tt = Tooltip(fields=['name', 'color'], labels = ['state', 'total_time_year'])
        
    global states_map
    
    map_styles = {'scales': {'projection': bqplot.AlbersUSA(),
                             'color': bqplot.ColorScale(colors=["brown", "blue", "red"])},
                  'color': df[mode].to_dict()}
    states_map = bqplot.Map(map_data=bqplot.topo_load('map_data/USStatesMap.json'), **map_styles, tooltip=def_tt
                           )

    states_map.interactions = {'click': 'select', 'hover': 'tooltip'}
    #states_map.observe(getCorresPlot)
    #display(getCorresPlot)
    
    #states_map.observe(showPlot, names= ['selected'])
    map_figure = bqplot.Figure(marks=[states_map], fig_margin={'top':30, 'bottom':30, 'left':0, 'right':0})
    return map_figure


map_figure = interact(getMap, mode = widgets.Dropdown(
                                options=['total sightings', 'total time'],
                                value='total sightings',
                                disabled=False,
                            ));






states_map.observe(showPlot, names= ['selected'])

interactive(children=(Dropdown(description='mode', options=('total sightings', 'total time'), value='total sightings'), Output()), _dom_classes=('widget-interact',))

In [4]:
census_data = pd.read_csv("census_state_quickfacts.csv")
census_data = census_data.transpose()

census_data = census_data[census_data.columns[:2]]
census_data.head()

                  0                                             1
People   Population  Population estimates; July 1; 2016;  (V2016)
Alaska          NaN                                        741894
Georgia         NaN                                      10310371
Hawaii          NaN                                       1428557
Idaho           NaN                                       1683140

In [5]:
del census_data[census_data.columns[0]]

In [6]:
census_data.head()

                                                    1
People   Population estimates; July 1; 2016;  (V2016)
Alaska                                         741894
Georgia                                      10310371
Hawaii                                        1428557
Idaho                                         1683140

In [9]:
#Population of each state

state_code = pd.read_csv("state_code.csv", delimiter='|')
state_code

    STATE STUSAB                   STATE_NAME  STATENS
0       1     AL                      Alabama  1779775
1       2     AK                       Alaska  1785533
2       4     AZ                      Arizona  1779777
3       5     AR                     Arkansas    68085
4       6     CA                   California  1779778
5       8     CO                     Colorado  1779779
6       9     CT                  Connecticut  1779780
7      10     DE                     Delaware  1779781
8      11     DC         District of Columbia  1702382
9      12     FL                      Florida   294478
10     13     GA                      Georgia  1705317
11     15     HI                       Hawaii  1779782
12     16     ID                        Idaho  1779783
13     17     IL                     Illinois  1779784
14     18     IN                      Indiana   448508
15     19     IA                         Iowa  1779785
16     20     KS                       Kansas   481813
17     21     KY                     Kentucky  1779786
18     22     LA                    Louisiana  1629543
19     23     ME                        Maine  1779787
20     24     MD                     Maryland  1714934
21     25     MA                Massachusetts   606926
22     26     MI                     Michigan  1779789
23     27     MN                    Minnesota   662849
24     28     MS                  Mississippi  1779790
25     29     MO                     Missouri  1779791
26     30     MT                      Montana   767982
27     31     NE                     Nebraska  1779792
28     32     NV                       Nevada  1779793
29     33     NH                New Hampshire  1779794
30     34     NJ                   New Jersey  1779795
31     35     NM                   New Mexico   897535
32     36     NY                     New York  1779796
33     37     NC               North Carolina  1027616
34     38     ND                 North Dakota  1779797
35     39     OH                         Ohio  1085497
36     40     OK                     Oklahoma  1102857
37     41     OR                       Oregon  1155107
38     42     PA                 Pennsylvania  1779798
39     44     RI                 Rhode Island  1219835
40     45     SC               South Carolina  1779799
41     46     SD                 South Dakota  1785534
42     47     TN                    Tennessee  1325873
43     48     TX                        Texas  1779801
44     49     UT                         Utah  1455989
45     50     VT                      Vermont  1779802
46     51     VA                     Virginia  1779803
47     53     WA                   Washington  1779804
48     54     WV                West Virginia  1779805
49     55     WI                    Wisconsin  1779806
50     56     WY                      Wyoming  1779807
51     60     AS               American Samoa  1802701
52     66     GU                         Guam  1802705
53     69     MP     Northern Mariana Islands  1779809
54     72     PR                  Puerto Rico  1779808
55     74     UM  U.S. Minor Outlying Islands  1878752
56     78     VI          U.S. Virgin Islands  1802710